@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenPro-Regular.ttf");
}

.body {
    background-color: #f4f4f4;
    font-family: 'MavenPro';

}

.red {
    color: red;
}

.border {
    border: 1px solid;
    border-radius: 20px;
    border-color: #333333;
}

.row {
    padding: 10px 10px 10px 10px;
}

.mostrarInfo {
    padding: 10px 10px 10px 10px;
    border: 1px solid;
    border-radius: 20px;
    border-color: #333333;
}

.tablaNavegacion {
    margin: auto !important;
}

#contenido {
    padding: 20px 10px 20px 10px;
}

.mostrarInfo {
    background-color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

}

.botonIndex {
    margin-top: 5%;
    margin-right: 4%;
    margin-bottom: 0%;
    margin-left: 4%;
    padding: 20px !important;
    font-size: 22px !important;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.accionesBox {
    border-radius: 20px;
    background-color: white;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /*padding: 10px 10px 10px 10px;*/

    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

}

.accionesBox > .acciones {
    padding: 0px 10px 0px 10px;

}

.acciones > .btn {
    margin: 5px;
}

.lupa {
    margin-right: 5px;
}

.labelLogin{
    font-size: 19px;
}
.form-control {
    margin-right: 10px;
}

.tablaIndex{
    padding-right: 15% !important;
    padding-left: 15% !important;
}

.loginBox{
    padding-right: 20% !important;
    padding-left: 20% !important;
    padding-top: 8% !important;
}

.textoHeader{
    font-size: 18px;
}