<!DOCTYPE html PUBLIC "-//W3C/DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>


<head>
    <title>Login</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">

</head>

<body class="body">
<br/>
<div class="container loginBox">

    <div id="" class="row text-center tablaNavegacion ">
        <div class="border accionesBox text-center">

            <div class="titulo">
                <h2 align="center">Login</h2>
            </div>
            <hr>

            <div class="acciones ">

                <form class="form-horizontal" method=post action="j_security_check">
                    <div class="form-inline ">
                        <label class="control-label labelLogin">Email:</label>
                        <div class="">
                            <input type="text" style="text-align:center;" size="25" class="form-control"
                                   placeholder="administrador@gmail.com" value="administrador@gmail.com"
                                   name="j_username">
                        </div>
                    </div>
                    <br/>
                    <div class="form-inline">
                        <label class="control-label labelLogin">Password:</label>
                        <div class="">
                            <input type="text" style="text-align:center;" class="form-control" placeholder=""
                                   value="1234" name="j_password">
                        </div>
                    </div>
                    <br/>
                    <div class="form-inline">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                    <hr>
                    <div class="form-inline">
                        <a href="../index.xhtml" style="">Volver al Index</a>
                    </div>
                </form>

            </div>

        </div>
        <br/>
    </div>


    <div id="contenido">


        <!--******************************************************************************************************************************-->
        <!--******************************************************************************************************************************-->
        <!--******************************************************************************************************************************-->


    </div>
    <!--************   ALERT ERROR *****************-->


</div>


<br/>
<br/>
</body>

</html>

