<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">


    <!--
    * @Author Rodrigo de Miguel González
    * @Date 2017-2018
    * TFG - Atravesando las Capas de una Aplicación Empresarial: Demostrador Tecnológico J2EE
    -->
    <display-name>TFG_cliente</display-name>



    <!-- ********* WELCOME ********* -->

    <welcome-file-list>
        <welcome-file>views/index.xhtml</welcome-file>
        <!--<welcome-file>views/Modulo_Administrador/vista_admin.xhtml</welcome-file>-->
        <!--<welcome-file>views/Modulo_Usuario/vista_usuario.xhtml</welcome-file>-->
    </welcome-file-list>


    <!-- ********* CONTEXTO DE DESPLIEGUE ********* -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
        <!--
        <param-value>Development</param-value>
        <param-value>Production</param-value>
        -->
    </context-param>



	

    <!-- **************************************** -->
    <!-- ********* CONFIGURACIÓN DE JSF ********* -->
    <!-- **************************************** -->

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.application</param-value>
    </context-param>
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>

    <!-- **************************************** -->
    <!-- ******** CONFIGURACIÓN DE JAAS ********* -->
    <!-- **************************************** -->

    <!-- ********* ROLES ********* -->

    <security-role>
        <description>Administrador</description>
        <role-name>ADMIN</role-name>
    </security-role>


    <security-role>
        <description>Usuario</description>
        <role-name>USUARIO</role-name>
    </security-role>

    <security-role>
        <description>SuperUsuario</description>
        <role-name>SUPERUSER</role-name>
    </security-role>


    <!-- ********* RESTRICCIONES DE RECURSOS ********* -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <!--<url-pattern>/views/admin/*</url-pattern>-->
            <url-pattern>/views/Modulo_Administrador/*</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>ADMIN</role-name>
            <role-name>SUPERUSER</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User</web-resource-name>
            <!--<url-pattern>/views/empleado/*</url-pattern>-->
            <url-pattern>/views/Modulo_Usuario/*</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>USUARIO</role-name>
            <role-name>SUPERUSER</role-name>
        </auth-constraint>
    </security-constraint>




    <!-- ********* CONFIGURACIÓN DE LOGIN ********* -->

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/views/Login/login.html</form-login-page>
            <!-- <form-error-page>/views/Errors/ErrorLogin.xhtml</form-error-page> -->
            <form-error-page>/views/Login/loginError.html</form-error-page>
        </form-login-config>
    </login-config>


    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/views/Errors/403-error.xhtml</location>
    </error-page>

    <error-page>
        <!-- STATUS 404 - NOT FOUND -->
        <error-code>404</error-code>
        <location>/views/Errors/404-error.xhtml</location>
    </error-page>
    
    <error-page>
       <!-- STATUS 400 - BAD REQUEST -->
        <error-code>400</error-code>
        <location>/views/Errors/400-error.xhtml</location>
    </error-page>


	<!-- ********* FILTROS JSF ********* -->
	
	<filter>
		<filter-name>validator</filter-name>
		<filter-class>com.eduardosergio.TFG_cliente.presentacion.seguridad.filters.ValidatorFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>sql</filter-name>
		<filter-class>com.eduardosergio.TFG_cliente.presentacion.seguridad.filters.SQLFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>validator</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>sql</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--
	<filter-mapping>
		<filter-name>validator</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->

</web-app>
